@import "tailwindcss";


@layer components {
  .section-title {
    @apply text-4xl font-bold text-center mb-8;
  }
  .card {
    @apply p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300;
  }

.subscribe-input {
    @apply bg-[#C4EE18] text-[#19324D] px-4 py-2 my-1 mr-1 font-semibold rounded-tl-[8px] rounded-tr-[2px] rounded-br-[2px] rounded-bl-[2px];
} 

/*contact section label */
.contact-input {
    @apply w-full mt-2 px-4 py-3 border border-gray-300 rounded-md outline-none focus:border-lime-400;
  }
.contact-label{
    @apply text-gray-700 text-sm font-medium
}

}


:root {
  --light-dark: #19324D;
  --lime-color: #C4EE18;
  background: #fafafa;
  color: #19324d;
  box-sizing: border-box;
border-bottom: undefinedpx dashed #e3e3e3;
}


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
