
@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap'); */

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@layer components {
  body {
  font-family: "Geist", sans-serif;
  }
  .Container {
    @apply px-4 sm:px-6 lg:px-8 xl:px-20  py-12 sm:py-16 lg:py-24;
  }

  .section-title {
    @apply text-4xl font-bold text-center mb-8;
  }
  .card {
    @apply p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300;
  }

.subscribe-input {
    @apply bg-[#C4EE18] text-[#19324D] px-4 py-2 my-1 mr-1 font-semibold rounded-tl-[8px] rounded-tr-[2px] rounded-br-[2px] rounded-bl-[2px];
} 

/*contact section label */
.contact-input {
    @apply w-full mt-2 px-4 py-3 border border-gray-300 rounded-md outline-none focus:border-lime-400;
  }
.contact-label{
    @apply text-gray-700 text-sm font-medium
}

/* Marketing Agency  */
.agency{
  background: linear-gradient(90.00deg, rgba(25, 50, 77, 0),rgba(25, 50, 77, 1) 100%);
}

/* Swiper navigation buttons */
/* Navigation buttons background & position */
.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  width: 35px !important;
  height: 35px !important;
  color: #e3e3e3 !important;
  background-color: transparent; /* button background */
  border-radius: 50%;
  border:1px solid #e3e3e3;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* Arrow color (pseudo-element) */
.my-swiper .swiper-button-next::after,
.my-swiper .swiper-button-prev::after {
  /* color: black; arrow color */
  font-size: 18px;
}

/* Optional: hover effect */
.my-swiper .swiper-button-next:hover,
.my-swiper .swiper-button-prev:hover {
  background-color: #C4EE18; /* amber-300 */
}

.bg-gradient-colors {
  background: linear-gradient(90.00deg, rgba(25, 50, 77, 0),rgba(25, 50, 77, 1) 100%);
}

}


@theme {
  --color-primary: #C4EE18;
  --color-secondary: #19324d;
}

:root {
  font-family: Geist;
  --light-dark: #19324D;
  --lime-color: #C4EE18;
  /* background: #fafafa; rgba(250, 250, 250, 1)*/
  /* color: #19324d; */
  box-sizing: border-box;
border-bottom: undefinedpx dashed #e3e3e3;
/* background: #19324d4d; */
/* background: #fefff9; */
/* box-sizing: border-box;
border: 1px dashed rgba(227, 227, 227, 1); */
/* background: #c4ee18; rgba(196, 238, 24, 1); */
/* font-family: Geist; */
/* font-size: 40px; */
/* #19324D   //color: rgba(25, 50, 77, 1);

#5F758C    color: rgba(95, 117, 140, 1);*/

/* color: #19324d; */
/* background: #ffffff; rgba(255, 255, 255, 1) */
/* background: #fafafa; rgba(250, 250, 250, 1); */
/* border-radius: 70px; */
/* backgroun: #f5f5f5;rgba(245, 245, 245, 1); */

/* color: #5f758c; rgba(95, 117, 140, 1) */

/* #B6BCC6
#FFFFFF */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}